* {
    margin: 0;
    padding: 0;
}

#pageWrap {
    width: 100%;
    height: 100%; /* these are needed for firefox to display properly, messes up chrome */
    display: grid;
    grid:
      "A1 A2 A3"
      "B1 B2 B3"
      "C1 C2 C3";
    grid-template-columns: 30mm 1fr 30mm;
    grid-template-rows: 30mm 1fr 30mm;
  }

.container {
    z-index: 1;
    background-color: rgb(88, 49, 105);
    box-sizing: border-box;
}


#heading {
    z-index: 3;
    grid-column: 1 / span 2;
    grid-row: 1;

/* row could've been written before column so it matches the grid-area syntax: row / column / span to row / span to column  */
}

#title {
    grid-column: 1;
    text-align: left;
    font-family: 'Stalemate', cursive;
    font-size: 6em;
    color: white;
}

@media (max-width: 470px) {
    #title {
        font-size: 4em;
    }
}


#game {
    z-index: 1;
    grid-column: 3;
    text-align: center;
    background-color: rgb(88, 49, 105);
    border: none;
    padding: none;
    color: white;
}

#toolbar {
    z-index: 2;
    grid-column: 1;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 5mm 20mm 5mm;
    grid-template-rows: 38mm 1fr 1fr 1fr 1fr 3fr 1fr 1fr 9mm;
}

#circle {
    grid-column: 2;
    grid-row: 2;
}

#rectangle {
    grid-column: 2;
    grid-row: 3;
}

#triangle {
    grid-column: 2;
    grid-row: 4;
}

#irregular {
    grid-column: 2;
    grid-row: 5;
}

#freeSpace {
    grid-column: 2;
    grid-row: 6;
}

#grid {
    grid-column: 2;
    grid-row: 7;
}

#clear {
    grid-column: 2;
    grid-row: 8;
}

#canvas {
    z-index: 4;
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue; /* rgb(100, 149, 237) */
    box-sizing: border-box;
}

.toolButton {
    z-index: 4;
    width: 20mm;
    height: 1fr;
    background-color: rgb(88, 49, 105);
    border: none;
    padding: none;
    color: white;
}

*:focus-visible {
    outline-color: rgb(88, 49, 105);
}

.toolImage {
    z-index: 5;
    width: 10mm;
    height: 1fr;
    opacity: 0.25;
}

#gameIcon {
     z-index: 5;
    width: 30mm;
    height: 1fr;
    opacity: 0.25;
}

.toolImage:hover {
    opacity: 1;
    cursor: pointer;
}

/* #gameDialog made in css flexbox */
#gameDialog, #infoDialog {
    z-index: 6;
    position: fixed;
    width: 60%;
    height: auto;
    top: 45vh;
    left: 30mm;
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    background-color: rgb(88, 49, 105);
    color: white;
}

/* since showModal() is deprecated in firefox, changed it to adding and removing noDisplay class */
.noDisplay {
    display: none;
    visibility: hidden;
}

.dialogButton {
    background-color: rgb(88, 49, 105);
    border: none;
    text-align: center;
    text-decoration: none;
}

#infoMessage {
    padding: 20px;
}

#restartGame, #endGame {
    width: 35mm;
}

#restartGame ::after {
    clear: both;
}

span {
    font-size: 2em;
    color: white;
}

#restartGame, #endGame {
    width: 25mm;
}

.buttonName {
    opacity: 0.25;
}

.buttonName:hover {
    opacity: 1;
}

.guiContainerHidden {
    z-index: 7;
    visibility: hidden;
    grid-column: 3;
    grid-row: 2;
    font-size: 3em;
    color: white;
}

.guiContainerVisible {
    z-index: 7;
    visibility: visible;
    grid-column: 3;
    grid-row: 2;
    font-size: 3em;
    color: white;
}

#countdownContainer {
    position: fixed;
    top: 30mm;
    right: 0;
}

#scoreContainer {
    position: fixed;
    top: 40mm;
    right: 0;
}

#commandsContainer {
    position: fixed;
    top: 50mm;
    right: 0;
}

.countingRed {
    color: red;
}

.countingYellow {
    color: yellow;
}

.countingGreen {
    color: green;
}